terraform/.terraform.lock.hcl
terraform/.terraform/*
terraform/*.tfplan
terraform.tfstate
terraform/lambda-notes.zip
terraform/terraform.tfstate.backup

.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.env